@{
    Layout = "Layout";
}
<div class="PerfilContenedor">
    <a href="#">
        <div class="Foto">
            <img src="https://img2.freepng.es/20180613/hyh/kisspng-business-real-estate-woman-computer-icons-person-icon-woman-5b21cc576990f6.2211707315289416554324.jpg" />
        </div>
        <div class="Datos">
            <p>Andrea Lizbeth Lopez Cantera</p>
            <p>Ingenieria en Sistemas Computacionales</p>
            <p>Programacion Web</p>
            <p>Septimo Semestre</p>
            <p>201G0265</p>
        </div>
    </a>
</div>